.aboutContent {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem 10rem;
}

.aboutSection {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.title {
   display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}
.cardsSection {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.card {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.line {
    background-color: #FDC435;
    height: 4px;
    width: 100px;
    border-radius: 8px;
}

.seporate {
    background-color: #bdbdbd;
    height: 1px;
    width: 200px;
    border-radius: 8px;
}

.experienceBlock {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.experienceContainer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 10px;


}